<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supervision.user.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.supervision.user.model.Permission">
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="PERMISSION" jdbcType="VARCHAR" property="permission"/>
        <result column="PERMISSION_DESC" jdbcType="VARCHAR" property="permissionDesc"/>
    </resultMap>
    <insert id="insert" parameterType="com.supervision.user.model.Permission">
    insert into JLXT.TB_JLXT_PERMISSION (ID, PERMISSION)
    values (#{id,jdbcType=DECIMAL}, #{permission,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.supervision.user.model.Permission">
        insert into JLXT.TB_JLXT_PERMISSION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="permission != null">
                PERMISSION,
            </if>
            <if test="permissionDesc != null">
                PERMISSION_DESC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="permissionDesc != null">
                #{permissionDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getPermissionCount" parameterType="com.supervision.user.model.Permission"
            resultType="java.lang.Integer">
    select count(1)
    from JLXT.TB_JLXT_PERMISSION
    where ID = #{id,jdbcType=DECIMAL} OR PERMISSION = #{permission,jdbcType=VARCHAR}
  </select>
    <select id="getPermissionId" parameterType="com.supervision.user.model.Permission" resultMap="BaseResultMap">
    select *
    from JLXT.TB_JLXT_PERMISSION
    where PERMISSION = #{permission,jdbcType=VARCHAR}
  </select>
    <update id="modifyPermission" parameterType="com.supervision.user.model.Permission">
        update JLXT.TB_JLXT_PERMISSION
        set PERMISSION = #{permission,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <select id="getIdOfPermission" parameterType="com.supervision.user.model.Permission" resultType="java.lang.String">
        select ID
        from JLXT.TB_JLXT_PERMISSION
        where PERMISSION = #{permission,jdbcType=VARCHAR}
    </select>
    <select id="getPermissionById" parameterType="com.supervision.user.model.Permission" resultMap="BaseResultMap">
        select PERMISSION
        from JLXT.TB_JLXT_PERMISSION
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectPermissionById" parameterType="com.supervision.user.model.Permission" resultMap="BaseResultMap">
        select *
        from JLXT.TB_JLXT_PERMISSION
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="getPermissionList" parameterType="com.supervision.user.model.Permission" resultMap="BaseResultMap">
        select *
        from JLXT.TB_JLXT_PERMISSION
    </select>
    <select id="getPermissionByRoleId" parameterType="int" resultMap="BaseResultMap">
       select * from JLXT.TB_JLXT_PERMISSION c, JLXT.TB_JLXT_USER_PERMISSION t where c.ID=t.PID and t.RID=#{roleId}
    </select>
</mapper>