<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supervision.project.mapper.ProjectCostMapper" >
  <resultMap id="BaseResultMap" type="com.supervision.project.model.ProjectCost" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
    <result column="EXPECT_COST" property="expectCost" jdbcType="DECIMAL" />
    <result column="REAL_COST" property="realCost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PROJECT_ID, EXPECT_COST, REAL_COST
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from JLXT.TB_JLXT_PROJECT_COST
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <!-- -->
  <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from JLXT.TB_JLXT_PROJECT_COST
    where PROJECT_ID = #{projectId,jdbcType=DECIMAL}
  </select>
  <!-- -->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from JLXT.TB_JLXT_PROJECT_COST
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.supervision.project.model.ProjectCost" >
    insert into JLXT.TB_JLXT_PROJECT_COST (ID, PROJECT_ID, EXPECT_COST, 
      REAL_COST)
    values (#{id,jdbcType=DECIMAL}, #{projectId,jdbcType=DECIMAL}, #{expectCost,jdbcType=DECIMAL}, 
      #{realCost,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.supervision.project.model.ProjectCost" >
    insert into JLXT.TB_JLXT_PROJECT_COST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="expectCost != null" >
        EXPECT_COST,
      </if>
      <if test="realCost != null" >
        REAL_COST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=DECIMAL},
      </if>
      <if test="expectCost != null" >
        #{expectCost,jdbcType=DECIMAL},
      </if>
      <if test="realCost != null" >
        #{realCost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.supervision.project.model.ProjectCost" >
    update JLXT.TB_JLXT_PROJECT_COST
    <set >
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=DECIMAL},
      </if>
      <if test="expectCost != null" >
        EXPECT_COST = #{expectCost,jdbcType=DECIMAL},
      </if>
      <if test="realCost != null" >
        REAL_COST = #{realCost,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.supervision.project.model.ProjectCost" >
    update JLXT.TB_JLXT_PROJECT_COST
    set PROJECT_ID = #{projectId,jdbcType=DECIMAL},
      EXPECT_COST = #{expectCost,jdbcType=DECIMAL},
      REAL_COST = #{realCost,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>